@font-face{
  font-family: "Montserrat";
  src: url('./font/Montserrat/static/Montserrat-Regular.ttf');
}

@font-face{
  font-family: "Montserrat Bold";
  src: url('./font/Montserrat/static/Montserrat-Bold.ttf');
}

@font-face{
  font-family: "Montserrat Light";
  src: url('./font/Montserrat/static/Montserrat-Light.ttf');
}

@font-face{
  font-family: "SourceSansPro";
  src: url('./font/Source_Sans_Pro/SourceSansPro-Regular.ttf');
}

@font-face{
  font-family: "SourceSansPro Bold";
  src: url('./font/Source_Sans_Pro/SourceSansPro-Bold.ttf');
}
@font-face{
  font-family: "SourceSansPro Light";
  src: url('../font/Source_Sans_Pro/SourceSansPro-ExtraLight.ttf');
}

@font-face{
  font-family: "SourceSansPro Bold";
  src: url('./font/Source_Sans_Pro/SourceSansPro-Bold.ttf');
}

@font-face{
  font-family: "LucidaGrande";
  src: url('./font/lucida-grande/LucidaGrande.ttf');
}
