@import "../../../assets/css/button.css";

.nav_btn{
  border: 2px solid #fff;
  box-sizing: border-box;
  color: #fff;
  text-decoration: none;
  background: none;
  cursor: pointer;
  text-transform: uppercase;
}
