.btn {
  display: flex;
  width: 180px;
  height: 49px;
  border-radius: 50px;
  font-family: "fontMontserrat Light", sans-serif;
  font-style: normal;
  font-weight: 400px;
  line-height: 20px;
  align-items: center;
  justify-content: center;
}
